html {
  font-style: normal;
  letter-spacing: 0.3px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p, h1, h2, h3, h4 {
  color: #333;
  margin: 0;
}

h4 {
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 18px;
}

input[type="radio"] {
  cursor: pointer;
}

p {
  font-size: 13px;
}

a {
  color: #444;
  text-decoration: none !important;
  font-weight: 300;
}

.bold,
a:active,
a:hover,
a:focus {
  color: #222;
  font-weight: 600;
}


/* CSS for top-navigation */
.top-navigation {
  background-color: #f2f2f2;
  box-shadow: 0px -5px 10px 10px rgb(0,0,0,0.25);
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}
/* CSS for top-navigation ends here */

/* CSS for pagination */
ul.pagination {
  margin-top: -4px !important;
  margin-bottom: 30px !important;
  float: right;
}

ul.pagination li a {
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: 0;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  padding: 10px 8px;
  line-height: 2em;
  min-width: 40px;
  width: auto;
  vertical-align: middle;
  cursor: pointer;
}

ul.pagination li a:hover {
  background-color: #eee;
}

ul.pagination li.next a {
  border-right: 1px solid #ccc;
}

ul.pagination li.first,
ul.pagination li.last {
  display:none !important;
}
/* CSS for pagination */

/* CSS for category navigation */
ul.category-listings {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

ul.category-listings li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0 auto;
}

ul.category-listings button {
  padding: 10px 20px;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  transition: 0.2s;
}

.btn-active,
ul.category-listings button:focus,
ul.category-listings button:hover {
  background: #333;
  color: white;
}

ul.category-listings button:active {

}
/* CSS for category navigation */

/* CSS for Product Component */
.product-listings-wrapper {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  border-left: 1px solid #333;
}

.product-card {
  line-height: 18px;
  margin-bottom: 60px;
  z-index: 10;
}

.product-card:hover {
  cursor: pointer;
}

.product-card-brand {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.product-card-description {
  font-weight: 400;
}

.product-card-price {
  font-weight: 400;
}

button.product-card-actions {
  padding: 5px 10px 5px;
  font-size: 14px;
  line-height: 26px;
  margin-top: -30px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  display: block;
  width: 100%;
  border: none;
  position: relative;
  color: white;
}

button.product-card-actions:hover {
  opacity: 0.85;
}

.hide {
  visibility: hidden;
}

.heart {
  float: right;
  color: #ccc;
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}

.heart:after {
  content: "❤";
  transition-timing-function: ease-in;
  transition: 0.3s;
}

.heart:hover:after {
  color: crimson;
}

p.product-card-brand {
  padding-top: 15px;
}

/* CSS for Product Component ends here */

/* CSS for ProductDetails */

p.price {
  font-weight: 800;
  font-size: 20px;
}

p.fake-stars {
  color: red;
}

.product-details {
  padding: 26px 0;
}
/* CSS for ProductDetails ends here*/

/* CSS for sorting panel */

.sorting-panel i.fa-caret-down {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.sorting-types {
  padding: 16px 0;
  border-bottom: 4px solid #eeeeee;
}

.filter-price {
  display: inline-block;
  margin-left: 5px;
}
/* CSS for sorting panel ends here */